* { 
    /* border: 1px solid red; */
}

.header {
    display: flex;
    justify-content: center;
}

.inputs {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.outputs {
    display: flex;
    justify-content: center;
}

.outputs h1 {
    border: 2px solid black;
    text-align: center;
    border-radius: 4px;
    min-height: 30px;
    min-width: 100px;
}